body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #000000;
}

.carousel-item {
    width: 100%;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #8C4830;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-servicos .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #F0F2F2;
}

.section-title {
    font-family: 'Lobster', cursive;
}

#sobre-a-barbearia, #servicos {
    background-color: #F0F2F2;
}

.text-collored {
    color: #8C4830;
}

.nav-servicos .nav-link.active,
#fale-conosco button {
    background-color: #8C4830;
    color: #fff;
}

.nav-servicos .nav-link:hover {
    color: #8C4830;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 991px) {
    .nav-servicos .nav-link {
        font-size: 12px;
        padding: 5px 10px;
    }
    .service-box img {
        height: 150px;
    }
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}